# Ignore virtual environments
.venv/
loaded_backup/
cache/
html_load/
.vscode/

# Ignore CSV files
*.csv
*.xlsx

# Ignore R Project files
*.Rproj

# Ignore .user files
*.user

# Ignore R history
.Rhistory

# Ignore swap files
*.swp

.Rproj.user
